h1.title {
    text-align: center;
}

div.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

#receipt-table {
    border-collapse: collapse;
    width: 40vw;
}

td, th {
    border: 1px solid #999999;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}